$color_1: #555;
$color_2: #ffffff;
$color_3: #ff523b;
$color_4: #777777;
$color_5: #8a8a8a;
$color_6: #fff;
$color_7: #555555;
$font-family_1: "Poppins", sans-serif;

/* Offer */
/* testimonial */
/* footer */
/* media query for menu */
/* all products page */
/* single product details */
/* cart items */
/* account page */
/* media query for less than 600 screen size */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $font-family_1;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2 {
	flex-basis: 50%;
	min-width: 300px;
	img {
		max-width: 100%;
		padding: 50px 0;
	}
	h1 {
		font-size: 50px;
		line-height: 60px;
		margin: 25px 0;
	}
	.offer-img {
		padding: 50px;
	}
}
.btn {
	display: inline-block;
	background: #ff523b;
	color: $color_2;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
	&:hover {
		background: #563434;
	}
}
.header {
	background: radial-gradient(#fff, #ffd6d6);
	.row {
		margin-top: 70px;
	}
}
.categories {
	margin: 70px 0;
}
.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	img {
		width: 100%;
	}
	p {
		font-size: 14px;
		margin: 12px 0;
		color: $color_4;
	}
}
.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4 {
	// flex-basis: 25%;
	width: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	border: 2px solid black;
	margin:40px;
	transition: transform 0.5s;
	img {
		width: 100%;
	}
	p {
		font-size: 14px;
	}
	&:hover {
		transform: translateY(-5px);
	}
}
.title {
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: $color_1;
	&::after {
		content: "";
		background: #ff523b;
		width: 80px;
		height: 5px;
		border-radius: 5px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}
}
h4 {
	color: $color_1;
	font-weight: normal;
}
.rating {
	.fas {
		color: $color_3;
	}
	.far {
		color: $color_3;
	}
}
.offer {
	background: radial-gradient(#fff, #ffd6d6);
	margin-top: 80px;
	padding: 30px 0;
}
small {
	color: $color_1;
}
.testimonial {
	padding-top: 100px;
	.col-3 {
		text-align: center;
		padding: 40px 20px;
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		transition: transform 0.5s;
		img {
			width: 100px;
			margin-top: 20px;
			border-radius: 50%;
		}
		&:hover {
			transform: translateY(-10px);
		}
		h3 {
			font-weight: 600;
			color: $color_1;
			font-size: 16px;
		}
	}
}
.fa-quote-left {
	font-size: 34px;
	color: $color_3;
}
.brands {
	margin: 100px auto;
}
.col-5 {
	width: 160px;
	img {
		width: 100%;
		cursor: pointer;
		filter: grayscale(100%);
		&:hover {
			width: 100%;
			cursor: pointer;
			filter: grayscale(0);
		}
	}
}
.footer {
	background: #000;
	color: $color_5;
	font-size: 14px;
	padding: 60px 0 20px;
	p {
		color: $color_5;
	}
	h3 {
		color: $color_2;
		margin-bottom: 20px;
	}
	hr {
		border: none;
		background: #b5b5b5;
		height: 1px;
		margin: 20px 0;
	}
}
.footer-col-1 {
	min-width: 250px;
	margin-bottom: 20px;
	flex-basis: 30%;
}
.footer-col-2 {
	min-width: 250px;
	margin-bottom: 20px;
	flex: 1;
	text-align: center;
	img {
		width: 180px;
		margin-bottom: 20px;
	}
}
.footer-col-3 {
	min-width: 250px;
	margin-bottom: 20px;
	flex-basis: 12%;
	text-align: center;
}
.footer-col-4 {
	min-width: 250px;
	margin-bottom: 20px;
	flex-basis: 12%;
	text-align: center;
}
ul {
	list-style-type: none;
}
.app-logo {
	margin-top: 20px;
	img {
		width: 140px;
	}
}
.copyright {
	text-align: center;
}
.menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
}
.row-2 {
	justify-content: space-between;
	margin: 100px auto 50px;
}
select {
	border: 1px solid #ff523b;
	padding: 5px;
	&:focus {
		outline: none;
	}
}
.page-btn {
	margin: 0 auto 80px;
	span {
		display: inline-block;
		border: 1px solid #ff523b;
		margin-left: 10px;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		cursor: pointer;
		&:hover {
			background: #ff523b;
			color: $color_2;
		}
	}
}
.single-product {
	margin-top: 80px;
	.col-2 {
		img {
			padding: 0;
		}
		padding: 20px;
	}
	h4 {
		margin: 20px 0;
		font-size: 22px;
		font-weight: bold;
	}
	select {
		display: block;
		padding: 10px;
		margin-top: 20px;
	}
	input {
		width: 50px;
		height: 40px;
		padding-left: 10px;
		font-size: 20px;
		margin-right: 10px;
		border: 1px solid #ff523b;
	}
	.fas {
		color: $color_3;
		margin-left: 10px;
	}
}
input {
	&:focus {
		outline: none;
	}
}
.small-img-row {
	display: flex;
	justify-content: space-between;
}
.small-img-col {
	flex-basis: 24%;
	cursor: pointer;
}
.cart-page {
	margin: 90px auto;
}
table {
	width: 100%;
	border-collapse: collapse;
}
.cart-info {
	display: flex;
	flex-wrap: wrap;
}
th {
	text-align: left;
	padding: 5px;
	color: $color_2;
	background: #ff523b;
	font-weight: normal;
	&:last-child {
		text-align: right;
	}
}
td {
	padding: 10px 5px;
	input {
		width: 40px;
		height: 30px;
		padding: 5px;
	}
	a {
		color: $color_3;
		font-size: 12px;
	}
	img {
		width: 80px;
		height: 80px;
		margin-right: 10px;
	}
	&:last-child {
		text-align: right;
	}
}
.total-price {
	display: flex;
	justify-content: flex-end;
	table {
		border-top: 3px solid #ff523b;
		width: 100%;
		max-width: 400px;
	}
}
.account-page {
	padding: 50px 0;
	background: radial-gradient(#fff, #ffd6d6);
}
.form-container {
	background: #ffffff;
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	span {
		font-weight: bold;
		padding: 0 10px;
		color: $color_7;
		cursor: pointer;
		width: 100px;
		display: inline-block;
	}
	form {
		max-width: 300px;
		padding: 0 20px;
		position: absolute;
		top: 130px;
		transition: transform 1s;
	}
}
.form-btn {
	display: inline-block;
}
form {
	input {
		width: 100%;
		height: 30px;
		margin: 10px 0;
		padding: 0 10px;
		border: 1px solid #ccc;
	}
	.btn {
		width: 100%;
		border: none;
		cursor: pointer;
		margin: 10px 0;
		&:focus {
			outline: none;
		}
	}
	a {
		font-size: 12px;
	}
}
#LoginForm {
	left: -300px;
}
#RegForm {
	left: 0;
}
#Indicator {
	width: 100px;
	border: none;
	background: #ff523b;
	height: 3px;
	margin-top: 8px;
	transform: translateX(100px);
	transition: transform 1s;
}
@media only screen and (max-width: 800px) {
	nav {
		ul {
			position: absolute;
			top: 70px;
			left: 0;
			background: #333;
			width: 100%;
			overflow: hidden;
			transition: max-height 0.5s;
			li {
				display: block;
				margin-right: 50px;
				margin-top: 10px;
				margin-bottom: 10px;
				a {
					color: $color_6;
				}
			}
		}
	}
	.menu-icon {
		display: block;
		cursor: pointer;
	}
}
@media only screen and (max-width: 600px) {
	.row {
		text-align: center;
	}
	.col-2 {
		flex-basis: 100%;
	}
	.col-3 {
		flex-basis: 100%;
	}
	.col-4 {
		flex-basis: 100%;
	}
	.single-product {
		.row {
			text-align: left;
		}
		.col-2 {
			padding: 20px 0;
		}
		h1 {
			font-size: 26px;
			line-height: 32px;
		}
	}
	.cart-info {
		p {
			display: none;
		}
	}
}
